

.navbar-brand img {
    width: 272px;
    height: 37px;
    top: 21px;
    left: 98px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center; 
    font-size: 18px; 
    position: relative;
}

.nav-link i {
    font-size: 17px;
    vertical-align: baseline;
}

.cart-badge {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #99927F;
    color: white;
    font-size: 10px;   
    padding: 2px 5px; 
    border-radius: 50%; 
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;         
    font-weight: bold; 
    text-align: center;
}


.navbar-nav .nav-link:hover img {
    opacity: 0.7;
}

.nav-item {
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
}

.nav-link {
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 1px;
    color: #fbfbfe;
}

a:link {
    color:#fbfbfe;
}


section {
    position: relative; 
    width: 100%;
    height: 100vh;
    padding: 0;
    min-height: 100vh;
    height: auto; 
    padding-bottom: 120px;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Graphics/pane.png);
    background-size: cover;
    min-height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(30%); 
    z-index: -1; 
}

footer {
    font-family: Montserrat;
    font-style: normal;
    width: 100%;
    background-color: #FBFBFE;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-subscribe {
    display: flex;
    width: 300px; 
}


.footer-email input {
    flex: 1;          
    height: 23px;    
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 13px; 
    padding: 0 8px;
    font-style: normal;
}

.footer-email button.submit {
    width: 95px;     
    height: 23px;     
    border: none;
    border-radius: 0;
    background: #151515;
    color: #FBFBFE;
    font-family: Montserrat;
    font-size: 13px;  
    flex-shrink: 0;   
    font-style: normal;
    transition: background 0.2s ease;
}

.footer-email button.submit:hover {
    background: #99927F; 
}

.footer-email button.submit:active {
    background: #99927F; 
}

button.submit {
    background: #151515;
    color: #FBFBFE ;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    height: 45px;
    flex-shrink: 0; 
    text-align: center;
}

@media (max-width: 768px) {

    .footer-subscribe {
        flex-direction: row;
    }

    
    .footer-email input {
        width: 100%;
    }

    .footer-email button.submit {
        width: auto;
    }
}

.col img {
    width: 272px;
    height: 33px;
    top: 37px;
    left: 97px;
}

.col p {
    width: 300px;
    height: 32px;
    top: 90px;
    left: 97px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-row p {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
}

.payment-row img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.bottom-footer p {
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
}


h4 {
    color: #151515;
    font-family: Oswald;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: right;
}

.list-unstyled {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: right;
}

.brand-column ul {
    display: flex;
    flex-direction: column;
    gap: 8px;          
    padding: 0;
    margin-top: 28px;  
}

.brand-column ul li a,
.shop-links ul li a,
.quick-links ul li a,
.text {
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    color: #151515;
}

.shop-links ul,
.quick-links ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-top: 0; 
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFE;
}

.container-sm {
    width: 825px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heading p {
    font-family: Oswald;
    font-style: normal;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.07em;
    color: #FBFBFE;
    font-style: normal;
    margin: 0;
}

.heading-col-1 {
    display: flex;
    flex-direction: column;
}

.heading-col-2 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.about {
    /*width: 825px;
    height: 264px;*/
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    text-align: justify;
}

.about p{
    /*text-align: justify;*/
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #FBFBFE;
}
.m-btn{
    background-color: #99927F;
    border-color: #99927F;
    color: #FBFBFE;
}
.m-btn:hover{
    background-color: #FBFBFE;
    border-color: #99927F;
    color: #99927F;
}
.m-btn2{
    background-color: #FBFBFE;
    border-color: #384556;
    color: #384556;
}
.m-btn2:hover{
    background-color: #384556;
    border-color: #384556;
    color: #FBFBFE;
}
.m-btn2 svg path{
    fill: #FBFBFE !important; 
}

.m-text{
    color: #99927F;
}
.o-cart{
    background-color: #384556;
}
.h-text{
    color: #fbfbfe !important;
}
.checkout-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.checkout-btns a{
    text-decoration: none;
}
.btn-clear{
    background-color: #dc3544;
    color: #fbfbfe;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: normal;
}
.btn-out{
    background-color: #99927F;
    color: #fbfbfe;
    padding: 5px 80px;
    border-radius: 5px;
    letter-spacing: normal;
}
.btn-clear:hover, .btn-out:hover{
    filter: brightness(90%);
}
#cart-items{
    letter-spacing: normal;
}
.offcanvas .btn-close{
    filter: invert(1);
}
.offcanvas-body ul{
    font-family: Oswald
}