.oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
  }
.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .brandcartier{
    position: relative;
    text-align: center;
  }

  
  .brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color:#FBFBFE;
    letter-spacing: 10%;
    font-size: 45px;
  }
  body {
    font-family: "Oswald", sans-serif;
  }

  .card-body a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color:#384556;
    letter-spacing: 10%;
    font-weight: 400

  }

  .card-body a:hover{
    text-decoration: underline; 
  }
  .card-text{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 10%;
  }

  p{
    color: #99927F;
  }

  .row-md{
   size: 30;
  }

 li{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 10%;
    color: #151515;
  }

  li:hover{
    text-decoration: underline; 
  }

  h1{
    letter-spacing: 10%;
    padding-top: 50px;
    padding-left: 35px;
    font-weight: 400;
  }

  h3{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 10%;
    color: #151515;
    padding:10px;

  }
  
  .img-fluid{
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }