

  .brandcartier{
    position: relative;
    text-align: center;
  }

  
  .brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color:#FBFBFE;
    letter-spacing: 10%;
    font-size: 45px;
  }
  body {
    font-family: "Oswald", sans-serif;
  }

  .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .75s ease;
  }
  /**/


.card-img-top{
  display: block;
  width: 100%;
  height: auto;
}
  .card:hover .overlay{
    bottom: 0;
    height: 100%;
  }

  .card-body a { 
    color:#384556;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    letter-spacing: 10%;
    font-weight: 400

  }

  .card-body a:hover{
    text-decoration: underline; 
  }
  .card-text{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 10%;
    color: #99927F;

  }

  .list ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 10%;
    color: #151515;
  }

  .list ul:hover{
    text-decoration: underline;
    text-align: left;  }

  .container-fluid h1{
    letter-spacing: 10%;
    padding-top: 50px;
    padding-left: 35px;
    font-weight: 400;
  }

  .container-fluid h3{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 10%;
    color: #151515;
    padding:10px;

  }
  
  .img-fluid{
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }
.m-btn{
    background-color: #99927F;
    border-color: #99927F;
    color: #FBFBFE;
}
.m-btn:hover{
    background-color: #FBFBFE;
    border-color: #99927F;
    color: #99927F;
}
.m-btn2{
    background-color: #FBFBFE;
    border-color: #384556;
    color: #384556;
}
.m-btn2:hover{
    background-color: #384556;
    border-color: #384556;
    color: #FBFBFE;
}
.m-btn2 svg path{
    fill: #FBFBFE !important; 
}

.m-text{
    color: #99927F;
}