footer * {
    letter-spacing: 0.1em;
}

footer {
    font-family: Montserrat;
    font-style: normal;
    width: 100%;
    background-color: #FBFBFE;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-subscribe {
    display: flex;
    width: 300px; 
}

.footer-subscribe .form-control {
    flex: 1;          
    height: 23px;    
    border: none;
    outline: none;
    font-family: Montserrat;
    letter-spacing: normal;
    font-size: 13px; 
    padding: 0 8px;
    font-style: normal;
}

.footer-subscribe .submit-btn {
    width: 90px;     
    height: 23px;     
    border: none;
    border-radius: 0;
    background: #151515;
    color: #FBFBFE;
    font-family: Montserrat;
    letter-spacing: normal;
    font-size: 13px;  
    flex-shrink: 0;   
    font-style: normal;
}

.submit-btn {
    background: #151515 !important;
    color: #FBFBFE !important;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    height: 45px;
    flex-shrink: 0; 
}

@media (max-width: 768px) {

    .footer-subscribe {
        flex-direction: row;
    }

    
    .footer-subscribe .form-control {
        width: 100%;
    }

    .footer-subscribe .subscribe-btn {
        width: auto;
    }
}

.col img {
    width: 272px;
    height: 33px;
    top: 37px;
    left: 97px;
}

.col p {
    width: 300px;
    height: 32px;
    top: 90px;
    left: 97px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-row p {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
}

.payment-row img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.bottom-footer p {
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #151515;
}


.col h4 {
    color: #151515;
    font-family: Oswald;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: right;
}

.list-unstyled {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: right;
}

.brand-column ul {
    display: flex;
    flex-direction: column;
    gap: 8px;          
    padding: 0;
    margin-top: 28px;  
}

.brand-column ul li a,
.shop-links ul li a,
.quick-links ul li a,
.text {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #151515;
}

.shop-links ul,
.quick-links ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-top: 0; 
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFE;
}
.text:hover{
    text-decoration: underline;
    color: #151515;
}