*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 3px;
}

h1{
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
}
h2{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
}
h3{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
}
h4{
    font-family: Montserrat;
    font-size: 30px;
}
p{
    font-family: Montserrat;
    font-size: 18px;
}
h5{
    font-family: Montserrat;
    font-size: 16px;
}
h6{
    font-family: Montserrat;
    font-size: 12px;
}

/*Hero Carousel*/
.c-item{
    height: 100vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.carousel-caption{
    margin-bottom: 30px;
}
.btn-primary{
    background-color: transparent;
    border-color: #FBFBFE;
    font-family: Oswald;
    font-weight: 300;
}
.btn-primary:hover{
    background-color: #99927F;
    border-color: #99927F;
    color: #FBFBFE;
}

/*Brands*/
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
#custom-cards{
    background-color: #384556;
    padding: 30px 50px !important;
}
#custom-cards h1{
    color: #FBFBFE;
}
#custom-cards h2{
    font-family: Montserrat !important;
    font-size: 40px;
    font-weight: 400 !important;
}
#custom-cards a{
    text-decoration: none;
}
#custom-cards a:hover{
    text-decoration: underline;
    color: white;
}
#custom-cards .card{
    height: 300px !important;
}

/*Spotlight*/
.spotlight{
    height: 500px;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px;
    margin-bottom: 30px;
}
.spotlight h2{
    margin-top: 30px;
}
.watchinfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.watchimage{
    width: 400px;
    height: 400px;
    background-image: url('Graphics/Watches/2.png');
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}
.watchimage:hover{
    background-image: url('Graphics/Watches/3.png');
}
.watchtext{
    width: 800px;
    color: #151515;
}
.watchtext h3{
    padding-bottom: 20px;
}
.watchtext h4{
    color: #99927F;
    font-weight: 400;
}
.watchtext p{
    text-align: justify;
    padding-bottom: 20px;
    font-weight: 300;
}