*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 3px;
}
body{
    overflow-x: hidden;
}
h1{
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
}
h2{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
}
h3{
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
}
h4{
    font-family: Montserrat;
    font-size: 30px;
}
p{
    font-family: Montserrat;
    font-size: 18px;
}
h5{
    font-family: Montserrat;
    font-size: 16px;
}
h6{
    font-family: Montserrat;
    font-size: 12px;
}

/*Hero Carousel*/
.c-item{
    height: 100vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}


.carousel-caption{
    margin-top: 350px;
    top: 20%;
}
.btn-primary{
    background-color: transparent;
    border-color: #FBFBFE;
    font-family: Oswald;
    font-weight: 300;
}
.btn-primary:hover{
    background-color: #99927F;
    border-color: #99927F;
    color: #FBFBFE;
}
.m-btn{
    background-color: #99927F;
    border-color: #99927F;
    color: #FBFBFE;
}
.m-btn:hover{
    background-color: #FBFBFE;
    border-color: #99927F;
    color: #99927F;
}
.m-btn2{
    background-color: #FBFBFE;
    border-color: #384556;
    color: #384556;
}
.m-btn2:hover{
    background-color: #384556;
    border-color: #384556;
    color: #FBFBFE;
}
.m-btn2 svg path{
    fill: #FBFBFE !important; 
}

.m-text{
    color: #99927F;
}

/*Brands*/
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
#custom-cards{
    background-color: #384556;
    padding: 30px 50px !important;
}
#custom-cards h1{
    color: #FBFBFE;
}
#custom-cards h2{
    font-family: Montserrat !important;
    font-size: 30px;
    font-weight: 400 !important;
}
#custom-cards a{
    text-decoration: none;
}
#custom-cards a:hover{
    text-decoration: underline;
    color: white;
}


/*Spotlight*/
.s-container{
    background-color: #FBFBFE;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.s-container{
    color: #384556;
}
.s-text h3{
    color: #99927F;
}
.s-text a{
    text-decoration: none;
}
.s-text a:hover{
    text-decoration: underline;
    color: #99927F;
}
.s-text p{
    color: #384556;
    text-align: justify;
}
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.05);
    filter: brightness(80%);
}