*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-weight: 350;
}
body{
    background-color: #FBFBFE;
}
h1{
    font-family: Oswald;
    font-size: 50px;
}
h2{
    font-family: Oswald;
    font-size: 40px;
}
h3{
    font-family: Oswald;
    font-size: 20px;
}
h4{
    font-family: Montserrat;
    font-size: 30px;
}
p{
    font-family: Montserrat;
    font-size: 18px;
}
h5{
    font-family: Montserrat;
    font-size: 16px;
}
h6{
    font-family: Montserrat;
    font-size: 12px;
}
/*Header*/
.header{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color: #FBFBFE;
}
.header ul{
    text-align: center;
}
.logo img{
    height: 30px;
    width: auto;
}
.cart img{
    height: 18px;
    width: auto;
}
.header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.header ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: Oswald;
    color: #151515;
}

/*Shop By Gender*/
.gendercontainer{
    display: flex;
    height: 400px;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
}
.gendercontainer img{
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.himwatches, .herwatches{
    position: relative;
    text-align: center;
    color: #FBFBFE;
    flex: 1;
}
.himwatches a, .herwatches a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #FBFBFE;
    font-family: Oswald;
    font-size: 30px;
    width: 500px;
}
.himwatches a:hover, .herwatches a:hover{
    text-decoration: underline;
}

/*Footer*/
.footercontainer{
    background-color: #FBFBFE;
    width: 100vw;
    max-width: 100vw;
    margin-top: 30px;
}
.footer{
    width: 100vw;
    max-width: 100vw;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr;
    gap: 20px;
}
.footer ul li{
    margin-bottom: 10px;
}
.footerheading1{
    grid-area: 1/1/2;
}
.footerheading1 img{
    height: 30px;
    width: auto;
    margin-bottom: 20px;
}
.footerheading1 h6{
    margin-bottom: 20px;
}
.emailbox button{
    background-color: #151515;
    border: none;
    font-family: Oswald;
    color: #FBFBFE;
    padding: 5px;
    width: 130px;
}
.emailbox button:hover{
    background-color: #99927F;
    color: #FBFBFE;
} 
.emailbox input{
    padding: 5px;
    width: 200px;
    font-family: Montserrat;
    border: none;
    background-color: #FBFBFE;
    font-size: 12px;
}
.footerheading2{
    grid-area: 1/2/2/3;
    text-align: right;
}
.footerheading2 h3{
    margin-bottom: 20px;
}
.brands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.brands ul li{
    list-style: none;
}
.brands ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Montserrat;
    color: #151515;
}
.brands ul li a:hover{
    text-decoration: underline;
}
.footerheading3{
    grid-area: 1/3/2/4;
    text-align: right;
}
.footerheading3 h3{
    margin-bottom: 20px;
}
.footerheading3 ul li{
    list-style: none;
}
.footerheading3 ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Montserrat;
    color: #151515;
}
.footerheading3 ul li a:hover{
    text-decoration: underline;
}
.footerheading4{
    grid-area: 2/1/3/2;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}
.footerheading4 img{
    height: 30px;
    width: auto;
}
.footerheading5{
    grid-area: 2/2/3/4;
    text-align: right;
    margin-top: 30px;
}

/*Features*/
.featurecontainer{
    background-color: #384556;
    height: 350px;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}
.feature{
    width: 100vw;
    max-width: 100vw;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.stories{
    color: #FBFBFE;
}
.stories h2{
    margin-bottom: 20px;
}
.vogue, .tatler, .mega{
    background-color: #FBFBFE;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.vogue p, .tatler p, .mega p{
    margin-top: 20px;
}
.vogue img, .tatler img, .mega img{
    width: 100px;
    margin-bottom: 10px;
}