.navbar {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;         
    background: transparent; 
}

.navbar-brand img {
    width: 272px;
    height: 37px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center; 
    font-size: 18px; 
    position: relative;
}

.nav-link i {
    font-size: 17px;
    vertical-align: baseline;
}

.cart-badge {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #99927F;
    color: white;
    font-size: 10px;   
    padding: 2px 5px; 
    border-radius: 50%; 
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;         
    font-weight: bold; 
    text-align: center;
}

.navbar-nav .nav-link:hover img {
    opacity: 0.7;
}

.nav-item {
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 1px;
    color: #fbfbfe;
}

a:link {
    color:#fbfbfe;
}

.navbar-nav li:hover {
    text-decoration: none;
}
.o-cart{
    background-color: #384556;
}
.h-text{
    color: #fbfbfe !important;
}
.checkout-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.checkout-btns a{
    text-decoration: none;
}
.btn-clear{
    background-color: #dc3544;
    color: #fbfbfe;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: normal;
}
.btn-out{
    background-color: #99927F;
    color: #fbfbfe;
    padding: 5px 80px;
    border-radius: 5px;
    letter-spacing: normal;
}
.btn-clear:hover, .btn-out:hover{
    filter: brightness(90%);
}
#cart-items{
    letter-spacing: normal;
}
.offcanvas .btn-close{
    filter: invert(1);
}
.offcanvas-body ul{
    font-family: Oswald
}