.navbar {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;         
    background: transparent; 
}

.navbar-brand img {
    width: 272px;
    height: 37px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center; 
    font-size: 18px; 
    position: relative;
}

.nav-link i {
    font-size: 17px;
    vertical-align: baseline;
}

.cart-badge {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #99927F;
    color: white;
    font-size: 8px;   
    padding: 2px 5px; 
    border-radius: 50%; 
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;         
    font-weight: bold; 
    text-align: center;
}

.navbar-nav .nav-link:hover img {
    opacity: 0.7;
}

.nav-item {
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 1px;
    color: #fbfbfe;
}

a:link {
    color:#fbfbfe;
}

.navbar-nav li:hover {
    text-decoration: none;
}
