

.container-fluid {
    background-color: #FBFBFE;
    ;
    
  }

.oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
  }a


  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  body {
    font-family: "Oswald", sans-serif;

  }

  .shop{
 size: 40px;
  }

  .card-body{
    font-family: "Montserrat", sans-serif;
    color:#384556;
  }
  .card-text{
    font-family: "Montserrat", sans-serif;
    

  }
  p{
    color: #99927F;
  }

  .row-md{
   size: 20px;
  }